build
node_modules
docs
publish
.env
.husky
.nohup
*/lib
*/dist
*/yarn-error.log
test-results
*/nohup.out
*/yarn-error.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
